@import url(//db.onlinewebfonts.com/c/f6a8b2423790ec81bbbd18662bbc7f03?family=BelindaW00-Regular);
.logo {
  width: 56px;
  height: 56px;
}

.navLink {
  margin-right: 12px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(163, 95, 80);
}

.btn-outline-brown {
  border-color:rgb(163, 95, 80);
  color: rgb(163, 95, 80);
}

.btn-outline-brown:hover {
  background: rgb(163, 95, 80);
  color: white;
}
#navbarText{
  font-family:"BrandonGrotW01-Light";
  color:rgb(163 ,55 ,80)
}

.hoverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 31rem;
  background-color: #eeeae6;
  opacity: 0.7;
  z-index: 1;
}

#inner-one {
  height: 100%;
  width: 32%;
  position: absolute;
  top: 0;
  left: 0%;
  background: rgba(255, 255, 255, .6);
}

#homeLogo {
  position: absolute;
  margin-top: 10%;
  width: 100%;
  z-index: 2;
  margin-left: 20%;
}

.homeLogoText {
  position: absolute;

  margin-left: 40%;
  margin-top: 80%;
}


.homeTitle {
  /* font-family: "Great Vibes", cursive; */
  font-family: "BelindaW00-Regular";
  text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px,
    rgb(140 140 140 / 50%) 0px 4px 0px, #787878 0px 0px 0px,
    rgb(0 0 0 / 50%) 0px 5px 10px;
  color: #3b2a19;
}

.homeText {
  color: #292929;
  padding-left: 35%;
  font-family: "Playfair Display", serif;
  line-height: 0;
}
/* 
#About {
  min-height: 90vh;
  
  /* background-image: url(https://static.wixstatic.com/media/6ccb339d82114d2eb8ea3e9996fe8d5d.jpg/v1/fill/w_1491%2Ch_800%2Cal_c%2Cq_85%2Cusm_0.66_1.00_0.01/6ccb339d82114d2eb8ea3e9996fe8d5d.webp); */
  
  /* background-color: #ffffff;*/
  /* opacity: 0.4;  }*/
  #image1{
    position: absolute;
    opacity: 0.2;
    top:0;
    left:0;
    height:645px;
  }
  #image2{
    position: absolute;
  }

/* .aboutCol2 {
  background-color: #ffffff;
  opacity: 0.7; 
} */

.aboutTitle {
  font-family: "Playfair Display", serif;
  color: #a35f50;
  font-style: italic;
}

.aboutText,
.servicesText {
  color: #946103;
}
/* #image3{
  position: absolute;
} */

.services {
  min-height: 90vh;
  /* opacity: 0.7; */
  

  /* background-image: url(https://static.wixstatic.com/media/nsplsh_616372426639426c667645~mv2_d_2736_1824_s_2.jpg/v1/fill/w_1490,h_739,al_c,q_85,usm_0.66_1.00_0.01/nsplsh_616372426639426c667645~mv2_d_2736_1824_s_2.webp); */
  background-color: #ffffff;
}
#image3{
  position: absolute;
  opacity:0.2;
  /* top:400; */
  left:0;
  height:600px;

}



.servicesTestimonialTitle {
  font-family: "Playfair Display", serif;
  color: #8a301c;
  font-style: italic;
}

.testimonials {
  min-height: 70vh;
  opacity: 0.5;
  background-image: url(https://static.wixstatic.com/media/6e623fb52d984774ad622ca62a95adf9.jpg/v1/fill/w_1399,h_518,al_c,q_85/6e623fb52d984774ad622ca62a95adf9.webp);
  background-size: cover;
}

.testimonialsText {
  color: #752311;

}

.contactCol1,
.formCss {
  background-color: #fcf8ed;
}

.contactHeading {
  /* font-family: "Pacifico", cursive; */
  font-family: "PeachesandCreamRegularW00";
  color: #bc9b5d;
}

.contactImg {
  background-size: cover;
}

.contactSubmit {
  font-family: "Playfair Display", serif;
  color: #bc9b5d;
  font-style: italic;
}
 
.carousel,
.Contact {
  overflow-x: hidden;
}

.pContact,
.pFooter1 {
  color: rgb(151, 91, 78);
}

.pFooter2 {
  color: #917e7a;
}

